@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
}
/*-------HEADER------------*/


header {
  background-color: #f9b9b785;
  width: 100%;
  opacity: 0.8;
}

.flex__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option li a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
}

@media (hover: hover) {

.option li a:hover {
  color: #fd8682e5;
}

}

.option li a:active {
  color: #fd8682e5;
} 

.option li {
  padding-right: 16px;
}

.option {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width:  10rem; 
  height: 8rem;
}

.navbar-toggler{
  background-color: #ff80f4;
  border-color: #000;
  margin-right: 0.5rem;
}

.navbar {
  flex-direction: row-reverse;
}
/*-----MAIN-----*/

.font {
  font-family: 'Dancing Script', cursive;
}

.hero{
  width: 100%;
  height: 80vh;
  background: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.hero h1 {
  height: 17%;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-align:center;
  letter-spacing: 20px;
  color: black;
}

.hero p {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  height: 45%;
}

.hero a{
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 5px;
  border-color:  #f9b9b785;
  text-align: center;
  background-color:  #f9b9b7;
  padding: 10px;
  transition: 0.3s;
  font-size: 30px;
  box-shadow: 3px 3px rgba(252, 240, 240, 0.384);
}

@media (hover: hover) {

.hero a:hover {
  transform: scale(1.1);
  color: black;
  background-color: #fd86822d;
}

}

.hero a:active {
  color: #f9b9b7;
  background-color: black;

}

.main__index {
  background-color: #f9b9b7bb;
}

.main__index button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-radius: 5px;
}

.main__index img {
  width: 180px;
  height: 150px;
  padding: 10px;
  border-radius: 50px;
}

.main__index section div {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid darkcyan; 
  border-radius: 10px;
  margin: 0px;
  background-color: #f9b9b76b;
  transition: 3s;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
}

@media (hover: hover) {
.main__index section div:hover {
  transform: scale(1.1);
}

}

.index__tipos__de__tratamientos {
  background-color: #96c9dc46;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index__tipos__de__tratamientos div button:active {
  background-color: rgba(233, 219, 219, 0.849);
}

.index__tipos__de__tratamientos div button a:active {
  color: #003c52;
  font-weight: bold;

}

.carousel {
  width: 50%;
  margin-left: 25%;
} 

.carousel-item img {
  height: 280px;
  width: 70px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
}

.carousel-item h5 {
  color: #ff80f4;
  font-size: 2rem;
}

.hero__tratamientos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex__tratamientos {
  width: 100%;
  background: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.cards {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid darkcyan; 
  border-radius: 10px;
  margin: 50px;
  margin-bottom: 2%;
  background-color: #f9b9b76b;
  color: darkcyan;
  display: flex;
  flex-direction: column;
  transition: 3s;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
}

@media (hover: hover) {

.cards:hover {
    transform: scale(1.1);
}

}

.cards img {
  width: 180px;
  height: 150px;
  padding: 10px;
  border-radius: 50px;
}

.cards button {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-radius: 5px;
}

.cards button:active {
  background-color: rgba(233, 219, 219, 0.849);

}

.cards button a:active {
  color: #003c52;
  font-weight: bold;

}

.nt {
  width: auto;
}

.card {
  margin-bottom: 13.6%;
}

h2 {
  color:darkcyan;
}

section div button {
  background-color: darkcyan;
}

section div button a{
  color: white;
  text-decoration: none;
}

.submit {
  color: white;
  background-color: darkcyan;
  margin-top: 10%;
  margin-bottom: 30%;
}

.submit:active {
  background-color: rgba(233, 219, 219, 0.849);
  color: #003c52;
  font-weight: bold;
}

.reset {
  color: white;
  background-color: darkcyan;
  margin-bottom: 15%;
}

.reset:active {
  background-color: rgba(233, 219, 219, 0.849);
  color: #003c52;
  font-weight: bold;
}


main ul li  button{
  color: white;
  background-color: darkcyan;
}

main ul li h3 {
  text-decoration-style: none;
}

.section__ubicacion {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.section__ubicacion h2 {
  margin-bottom: 10px;
}

.hero__ubicacion {
  justify-content: flex-start;
}

.hero__contacto {
  height: max-content;
}

.form-floating {
  width: 150%;
}

.send {
  color: black;
  border-color:  #f9b9b785;
  background-color:  #f9b9b7;
}

/*--------footer------*/

.flex__footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__footer section ul {
  display: flex;
}  

.flex__footer section ul div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  font-style: normal;
  font-size: 120%;
}

.dire {
  font-size: 150%;
}

.flex__footer div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex__footer div a {
  margin-right: 16px;
}

footer {
  background-color: #f9b9b785;
}

footer section ul {
  list-style: none;
}

footer section div a{
  text-decoration: none;
  color: #000;
}

.arriba {
  transition: 0.3s;
  font-size: 120%;
}

.arriba:hover {
  color: #fd8682e5;
}

.mapa {
  width: 6rem;
  height: 6rem;
}

.rrss {
  width: 5rem;
  height: 5rem;
}

.flex__footer {
  display: block;
}

.redes {
  background-color: #f9b9b723;
}

/*----------- MEDIA QUERIES---------------*/

@media screen and (max-width:895px) {

.hero h1 {
    letter-spacing: 20px;
    height: 15%;
    color: black;
}

.hero__contacto {
    height: max-content;
}


.main__index section div {
    margin-left: 2%;
    margin-top: 2%;
}

.index__tipos__de__tratamientos{
    justify-content: center;
}

.flex__footer section ul div {
    display: none;
} 

.hero p {
    margin-top: 5%;
}

.section__ubicacion iframe {
    width: 500px;
    height: 350px;  
} 

.flex__footer section div {
    flex-direction: column;
    align-items: stretch;
}

.flex__footer section div a {
    margin-bottom: 5%;
} 

.rrss {
    width: 5rem;
    height: 5rem;
}

.flex__footer section {
    justify-content: space-around;
}

.placeholder {
  display: none;
}
}

@media  screen and (max-width:930px) { 
.placeholder {
display: none;
}

} 

@media  screen and (max-width:540px) {

.logo {
    width:  6rem; 
    height: 5rem;
}

.placeholder {
    display: none;
}

.option li a {
    font-size: 18px;
}

.hero p {
    margin-top: 10%;
    font-size: 25px;
}

.hero h1 {
    letter-spacing: 15px;
    height: 13%;
    color: black;
    margin-bottom: 10%;
    font-size: 35px;
}

.hero a{
    font-size: 20px;
}

.flex__tratamientos h2 {
    letter-spacing: 10px;
    font-size: 20px;
}

.section__ubicacion iframe {
  width: 350px;
  height: 250px;  
} 

.flex__footer section {
    display: flex;
    flex-direction: column;
}

.flex__footer section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin-top: 5%;
}

.logo__footer {
  width:  18rem; 
  height: 14rem;
}

.flex__footer section ul div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.flex__footer section ul {
    margin-top: 5%;
}

}

@media  screen and (max-width:376px) {

.option li a {
    font-size: 13px;
}

.hero h1 {
    letter-spacing: 10px;
    height: 8%;
    color: black;
    font-size: 30px;
}

.hero p {
    font-size: 20px;
}

.flex__tratamientos h2 {
    letter-spacing: 8px;
    font-size: 18px;
}

.section__ubicacion iframe {
    width: 250px;
    height: 250px;
}

.datos {
    display: none;
}

.placeholder {
    display: flex;
}

}