@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
.font {
  font-family: 'Dancing Script', normal; }

* {
  margin: 0;
  padding: 0; }

.flex__header {
  background-color: #f9b9b785;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex__header a .logo {
    width: 10rem;
    height: 8rem; }
  .flex__header .navbar {
    flex-direction: row-reverse; }
    .flex__header .navbar .navbar-toggler {
      background-color: #ff80f4;
      border-color: #000;
      margin-right: 0.5rem; }
    .flex__header .navbar div .option {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .flex__header .navbar div .option li {
        padding-right: 16px; }
        .flex__header .navbar div .option li a {
          text-decoration: none;
          font-size: 25px;
          color: black;
          transition: 0.3s; }
          .flex__header .navbar div .option li a:hover {
            color: #fd8682e5; }
          .flex__header .navbar div .option li a:active {
            color: #fd8682e5; }

.hero {
  width: 100%;
  height: 80vh;
  background: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.flex__footer {
  display: block;
  background-color: #f9b9b785; }
  .flex__footer section {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .flex__footer section a .logo {
      width: 10rem;
      height: 8rem; }
    .flex__footer section ul {
      list-style: none;
      display: flex; }
      .flex__footer section ul a .mapa {
        width: 6rem;
        height: 6rem; }
      .flex__footer section ul div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        font-size: 120%; }
        .flex__footer section ul div .dire {
          font-size: 150%; }
    .flex__footer section div {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .flex__footer section div .arriba {
        transition: 0.3s;
        font-size: 120%;
        text-decoration: none;
        color: #000; }
        .flex__footer section div .arriba:hover {
          color: #fd8682e5; }
      .flex__footer section div div a {
        text-decoration: none;
        color: #000;
        margin-right: 16px; }
        .flex__footer section div div a .rrss {
          width: 5rem;
          height: 5rem; }
    .flex__footer section .navbar-toggler, .flex__footer section .redes {
      background-color: #ff80f4;
      border-color: #000;
      margin-right: 0.5rem;
      background-color: #f9b9b723; }

/*----------- MEDIA QUERIES---------------*/
@media screen and (max-width: 930px) {
  .placeholder {
    display: none; } }

@media screen and (max-width: 895px) {
  .hero h1 {
    letter-spacing: 20px;
    height: 15%;
    color: black; }
  .hero__contacto {
    height: max-content; }
  .main__index section div {
    margin-left: 2%;
    margin-top: 2%; }
  .index__tipos__de__tratamientos {
    justify-content: center; }
  .flex__footer section ul div {
    display: none; }
  .hero p {
    margin-top: 5%; }
  .section__ubicacion iframe {
    width: 500px;
    height: 350px; }
  .flex__footer section div {
    flex-direction: column;
    align-items: stretch; }
  .flex__footer section div a {
    margin-bottom: 5%; }
  .rrss {
    width: 5rem;
    height: 5rem; }
  .flex__footer section {
    justify-content: space-around; }
  .placeholder {
    display: none; } }

@media screen and (max-width: 540px) {
  .logo {
    width: 6rem;
    height: 5rem; }
  .placeholder {
    display: none; }
  .option li a {
    font-size: 18px; }
  .hero p {
    margin-top: 10%;
    font-size: 25px; }
  .hero h1 {
    letter-spacing: 15px;
    height: 13%;
    color: black;
    margin-bottom: 10%;
    font-size: 35px; }
  .hero a {
    font-size: 20px; }
  .flex__tratamientos h2 {
    letter-spacing: 10px;
    font-size: 20px; }
  .section__ubicacion iframe {
    width: 350px;
    height: 250px; }
  .flex__footer section {
    display: flex;
    flex-direction: column; }
  .flex__footer section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin-top: 5%; }
  .logo__footer {
    width: 18rem;
    height: 14rem; }
  .flex__footer section ul div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .flex__footer section ul {
    margin-top: 5%; } }

@media screen and (max-width: 376px) {
  .option li a {
    font-size: 13px; }
  .hero h1 {
    letter-spacing: 10px;
    height: 8%;
    color: black;
    font-size: 30px; }
  .hero p {
    font-size: 20px; }
  .flex__tratamientos h2 {
    letter-spacing: 8px;
    font-size: 18px; }
  .section__ubicacion iframe {
    width: 250px;
    height: 250px; }
  .datos {
    display: none; }
  .placeholder {
    display: flex; } }
