@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://use.typekit.net/ova6eyt.css");
.font {
  font-family: 'Dancing Script'; }

.new_font {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

.main__index .hero, .hero__tratamientos .flex__tratamientos, .tratamientosmedicos__main, .nosotros__main, .hero__ubicacion, main .hero__contacto {
  width: 100%;
  height: 80vh;
  background: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.flex__header .navbar div .option li a, .main__index .hero p, .hero__tratamientos .flex__tratamientos .container div .cards .boton, .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp, .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul li, .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp, .flex__footer div ul div, .flex__footer div div .arriba {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-style: normal; }

.hero__tratamientos .flex__tratamientos .container div .nt h2, .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2, .hero__ubicacion div .section__ubicacion h2 {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal; }

.hero__tratamientos .flex__tratamientos .container div .cards h3 {
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal; }

.main__index .hero h1, .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box h1, .nosotros__main .nosotros__div .nosotros__box h1 {
  font-family: 'abril-display',serif;
  font-weight: 800;
  font-style: normal; }

.flex__header {
  background-color: #f9b9b785;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex__header a .logo {
    width: 10rem;
    height: 8rem; }
  .flex__header .navbar {
    flex-direction: row-reverse; }
    .flex__header .navbar .navbar-toggler {
      background-color: #f9b9b7;
      border-color: #000;
      margin-right: 0.5rem; }
    .flex__header .navbar div .option {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .flex__header .navbar div .option li {
        padding-right: 16px; }
        .flex__header .navbar div .option li a {
          text-decoration: none;
          font-size: 25px;
          color: black;
          transition: 0.3s; }
          .flex__header .navbar div .option li a:hover {
            color: #fd8682e5; }
          .flex__header .navbar div .option li a:active {
            color: #fd8682e5; }

.main__index .hero, .hero__tratamientos .flex__tratamientos, .tratamientosmedicos__main, .nosotros__main, .hero__ubicacion, main .hero__contacto {
  width: 100%;
  height: 80vh;
  background: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.flex__header .navbar div .option li a, .main__index .hero p, .hero__tratamientos .flex__tratamientos .container div .cards .boton, .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp, .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul li, .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp, .flex__footer div ul div, .flex__footer div div .arriba {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-style: normal; }

.hero__tratamientos .flex__tratamientos .container div .nt h2, .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2, .hero__ubicacion div .section__ubicacion h2 {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-style: normal; }

.hero__tratamientos .flex__tratamientos .container div .cards h3 {
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal; }

.main__index .hero h1, .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box h1, .nosotros__main .nosotros__div .nosotros__box h1 {
  font-family: 'abril-display',serif;
  font-weight: 800;
  font-style: normal; }

.main__index {
  background-color: #f9b9b7bb; }
  .main__index .hero h1 {
    height: 17%;
    font-size: 40px;
    text-align: center;
    letter-spacing: 20px;
    color: black; }
  .main__index .hero p {
    text-align: center;
    font-size: 30px;
    height: 45%; }
  .main__index .hero a {
    text-decoration: none;
    color: black;
    border: solid;
    border-radius: 5px;
    border-color: #f9b9b785;
    text-align: center;
    background-color: #f9b9b7;
    padding: 10px;
    transition: 0.3s;
    font-size: 30px;
    box-shadow: 3px 3px rgba(252, 240, 240, 0.384); }
    .main__index .hero a:hover {
      transform: scale(1.1);
      color: black;
      background-color: #fd86822d; }
    .main__index .hero a:active {
      color: #f9b9b7;
      background-color: black; }
  .main__index .section__carousel {
    border: solid rgba(0, 139, 139, 0.205); }
    .main__index .section__carousel .carousel {
      width: 50%;
      margin-left: 25%; }
      .main__index .section__carousel .carousel .carousel-inner .carousel-item a img {
        height: 280px;
        width: 70px;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 15px; }

.hero__tratamientos {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .hero__tratamientos .flex__tratamientos {
    height: 100%; }
    .hero__tratamientos .flex__tratamientos .container div .nt {
      width: auto; }
      .hero__tratamientos .flex__tratamientos .container div .nt h2 {
        color: darkcyan; }
    .hero__tratamientos .flex__tratamientos .container div .cards {
      width: auto;
      height: auto;
      padding: 10px;
      text-align: center;
      border: 1px solid darkcyan;
      border-radius: 10px;
      margin: 50px;
      margin-bottom: 2%;
      background-color: #f9b9b76b;
      color: darkcyan;
      display: flex;
      flex-direction: column;
      transition: 3s;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.082); }
      .hero__tratamientos .flex__tratamientos .container div .cards:hover {
        transform: scale(1.1); }
      .hero__tratamientos .flex__tratamientos .container div .cards h3 {
        font-size: 1.5em; }
      .hero__tratamientos .flex__tratamientos .container div .cards a img {
        width: 180px;
        height: 150px;
        padding: 10px;
        border-radius: 50px; }
      .hero__tratamientos .flex__tratamientos .container div .cards .boton {
        margin-left: auto;
        margin-right: auto;
        padding: 2px;
        border-radius: 5px;
        background-color: darkcyan;
        text-decoration: none;
        color: white;
        border: solid 3px black; }
        .hero__tratamientos .flex__tratamientos .container div .cards .boton:active {
          background-color: rgba(233, 219, 219, 0.849);
          color: black; }

.tratamientosmedicos__main .tratamientos__medicosdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darkcyan;
    width: 70%;
    margin-top: 2%;
    background-color: #f9b9b76b;
    padding: 1%;
    margin-bottom: 2%; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp {
      text-align: center;
      font-size: 30px;
      margin-bottom: 0%; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px solid darkcyan;
    background-color: #f9b9b76b;
    margin-bottom: 2%;
    padding: 1%; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul {
      display: flex;
      justify-content: center;
      align-items: start;
      align-self: center;
      flex-direction: column;
      list-style: none;
      padding: 0%; }
      .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul li {
        font-size: 20px; }

.nosotros__main .nosotros__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%; }
  .nosotros__main .nosotros__div .nosotros__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darkcyan;
    margin-top: 5%;
    background-color: #f9b9b76b;
    padding: 1%;
    margin-bottom: 5%; }
    .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp {
      text-align: center;
      font-size: 28px;
      margin-bottom: 0%; }

.hero__ubicacion {
  justify-content: flex-start; }
  .hero__ubicacion div .section__ubicacion {
    display: flex;
    flex-direction: column;
    margin: 5%; }
    .hero__ubicacion div .section__ubicacion h2 {
      margin-bottom: 10px;
      color: darkcyan; }

main .hero__contacto {
  height: 100VH; }
  main .hero__contacto form {
    width: 50vh;
    margin-left: 5px;
    margin-right: 5px; }
    main .hero__contacto form div .send {
      color: black;
      border-color: #f9b9b785;
      background-color: #f9b9b7; }

.flex__footer {
  display: block;
  background-color: #f9b9b785; }
  .flex__footer div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .flex__footer div a .logo {
      width: 10rem;
      height: 8rem; }
    .flex__footer div ul {
      list-style: none;
      display: flex; }
      .flex__footer div ul li a .mapa {
        border-radius: 4%;
        width: 6rem;
        height: 6rem; }
      .flex__footer div ul div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        font-size: 120%; }
        .flex__footer div ul div .dire {
          font-size: 150%; }
    .flex__footer div div {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .flex__footer div div .arriba {
        transition: 0.3s;
        font-size: 120%;
        text-decoration: none;
        color: #000; }
        .flex__footer div div .arriba:hover {
          color: #fd8682e5; }
      .flex__footer div div div {
        margin-left: 10px; }
        .flex__footer div div div a {
          text-decoration: none;
          color: #000;
          margin-right: 16px; }
          .flex__footer div div div a .rrss {
            border-radius: 4%;
            width: 4rem;
            height: 4rem; }
    .flex__footer div .navbar-toggler, .flex__footer div .redes {
      background-color: #ff80f4;
      margin-right: 0.5rem;
      background-color: #f9b9b723; }
      .flex__footer div .navbar-toggler span .boton__de__redes, .flex__footer div .redes span .boton__de__redes {
        border-radius: 4%;
        width: 6rem;
        height: 6rem; }

@media screen and (max-width: 945px) {
  .font {
    font-family: 'Kalam'; }
  .main__index .hero h1 {
    letter-spacing: 20px;
    height: 15%;
    color: black;
    font-size: 25px; }
  .main__index .hero p {
    font-size: 18px; }
  .hero div p {
    text-align: center;
    font-size: 18px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box {
    margin-top: 10%;
    margin-bottom: 5%; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosh1 {
      font-size: 30px; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp {
      font-size: 20px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box {
    margin-top: 5%;
    margin-bottom: 10%; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2 {
      font-size: 30px; }
    .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul {
      font-size: 20px; }
  .nosotros__main .nosotros__div {
    margin-top: 25%;
    margin-bottom: 25%; }
    .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp {
      font-size: 20px; }
  .flex__footer div ul div {
    display: none; }
  .flex__footer div div div a .rrss {
    width: 3.5em;
    height: 3.5em; } }

@media screen and (max-width: 895px) {
  .main__index .hero a {
    font-size: 20px; }
  .hero__contacto {
    height: max-content; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosh1 {
    font-size: 22px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp {
    font-size: 20px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2 {
    font-size: 20px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul {
    font-size: 15px; }
  .nosotros__main .nosotros__div {
    margin-top: 25%;
    margin-bottom: 25%; }
    .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp {
      font-size: 18px; }
  .flex__footer div {
    justify-content: space-around; }
    .flex__footer div div {
      flex-direction: column;
      align-items: stretch; }
      .flex__footer div div a {
        margin-bottom: 5%; }
      .flex__footer div div div a .rrss {
        width: 3em;
        height: 3em; }
    .flex__footer div .navbar-toggler span .boton__de__redes, .flex__footer div .redes span .boton__de__redes {
      width: 6rem;
      height: 6rem; }
  .hero__ubicacion div .section__ubicacion iframe {
    width: 500px;
    height: 350px; } }

@media screen and (max-width: 585px) {
  body .flex__header nav div .option li a {
    font-size: 18px; }
  .main__index .hero h1 {
    letter-spacing: 20px;
    height: 15%;
    color: black;
    font-size: 20px; }
  .main__index .hero p {
    font-size: 15px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosh1 {
    font-size: 15px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .tratamientos__box .tratamientos__medicosp {
    font-size: 13px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosh2 {
    font-size: 15px; }
  .tratamientosmedicos__main .tratamientos__medicosdiv .beneficios__box .tratamientos__medicosul li {
    font-size: 13px; }
  .nosotros__main .nosotros__div {
    margin-top: 25%;
    margin-bottom: 25%; }
    .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosh1 {
      font-size: 20px; }
    .nosotros__main .nosotros__div .nosotros__box .nosotros__medicosp {
      font-size: 15px; }
  .hero__tratamientos .flex__tratamientos .container div div h2 {
    letter-spacing: 10px;
    font-size: 20px; }
  .hero__ubicacion div .section__ubicacion iframe {
    width: 350px;
    height: 250px; }
  main .hero__contacto form .form-floating {
    width: auto; }
  .flex__footer div {
    display: flex;
    flex-direction: column; }
    .flex__footer div ul {
      margin-top: 5%; }
      .flex__footer div ul div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
    .flex__footer div div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      align-items: center;
      margin-top: 5%; } }

@media screen and (max-width: 376px) {
  body .flex__header a .logo {
    width: 80px;
    height: 80px; }
  body .flex__header nav div .option li a {
    font-size: 12px; }
  .main__index .hero h1 {
    letter-spacing: 10px;
    height: 8%;
    color: black;
    font-size: 16px; }
  .main__index .hero p {
    font-size: 13px; }
  .hero__tratamientos .flex__tratamientos .container div div h2 {
    letter-spacing: 8px;
    font-size: 18px; }
  .hero__ubicacion div .section__ubicacion iframe {
    width: 250px;
    height: 250px; }
  .flex__footer div {
    display: flex;
    flex-direction: column; }
    .flex__footer div a .logo__footer {
      width: 80px;
      height: 80px; }
    .flex__footer div ul {
      margin-top: 5%;
      padding-left: 0; }
      .flex__footer div ul li a .mapa {
        width: 80px;
        height: 80px; }
      .flex__footer div ul div {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
    .flex__footer div div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      align-items: center;
      margin-top: 5%; }
    .flex__footer div .redes {
      width: 80px;
      height: 80px;
      margin-right: 0;
      padding: 0; }
      .flex__footer div .redes span .boton__de__redes {
        width: 80px;
        height: 80px; }
      .flex__footer div .redes span img {
        width: 80px;
        height: 80px; } }
