// HEADER 
@import "../base/mixins";
@import "../base/variables";
@import "../base/extend";

.flex__header {
    background-color: $color-header-footer;
    width: 100%;
    opacity: 0.8;
    @include display-f (flex, space-between, center);
    a {
        .logo {
            width:  10rem; 
            height: 8rem;
        }
    }
    .navbar {
        flex-direction: row-reverse;
        .navbar-toggler {
            background-color: #f9b9b7;
            border-color: #000;
            margin-right: 0.5rem;
        }
        div {
            .option {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    padding-right: 16px;
                    a {
                        text-decoration: none;
                        font-size: 25px;
                        @extend %tipografia-parrafos;
                        color: black;
                        transition: 0.3s;
                        &:hover {
                            color: #fd8682e5;
                        }
                        &:active {
                            color: #fd8682e5;
                        }
                    }
                }
            }
        }
    }
}

