@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url("https://use.typekit.net/ova6eyt.css");


.font {
  font-family: 'Dancing Script';
}

.new_font {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-style: normal;

}

*{
  margin: 0;
  padding: 0;
}