/*----------- MEDIA QUERIES---------------*/

@media  screen and (max-width:945px) {

    .font {
        font-family: 'Kalam';
    }

    .main__index {
        .hero {
            h1 {
            letter-spacing: 20px;
            height: 15%;
            color: black;
            font-size: 25px;
            }
            p {
                font-size: 18px;
            }
            
        }
    }

    .flex__footer {
        div {
            ul {
                div {
                    display: none;
                }
            }
            div {
                div {
                    a {
                        .rrss {
                            width: 3.5em;
                            height: 3.5em;
                        }
                    }
                }
            }
        }
    } 
    
} 

@media screen and (max-width:895px) {
    

    .main__index {
        .hero {
            a {
                font-size: 20px;
            }
            
        }
    }

    .hero__contacto {
        height: max-content;
    }
    
    .flex__footer {
        div {
            justify-content: space-around;
            div {
                flex-direction: column;
                align-items: stretch;
                a {
                    margin-bottom: 5%;
                }
                div {
                    a {
                        .rrss {
                            width: 3em;
                            height: 3em;
                        }
                    }
                }
            }
        }
    } 
    

    .hero__ubicacion {
        div {
            .section__ubicacion {
                iframe {
                    width: 500px;
                    height: 350px;  
                }
            }
        }
    }

    
}
 

@media  screen and (max-width:545px) {

    .logo {
        width:  6rem; 
        height: 5rem;
    }
    
    body {
        .flex__header {
            nav {
                div {
                    .option {
                        li {
                            a {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .main__index {
        .hero {
            h1 {
            letter-spacing: 20px;
            height: 15%;
            color: black;
            font-size: 20px;
            }
            p {
                font-size: 15px;
            }
            
        }
    }
    
    .hero__tratamientos {
        .flex__tratamientos {
            .container {
                div {
                    div {
                        h2 {
                            letter-spacing: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .hero__ubicacion {
        div {
            .section__ubicacion {
                iframe {
                    width: 350px;
                    height: 250px;   
                }
            }
        }
    }

    main {
        .hero__contacto {
            form {
                .form-floating {
                    width: auto;
                }
            }
        }
    }
    
    .flex__footer {
        div {
            display: flex;
            flex-direction: column;
            a {
                .logo__footer {
                    width:  18rem; 
                    height: 14rem;
                }
            }
            ul {
                margin-top: 5%;
                div {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 80%;
                align-items: center;
                margin-top: 5%;
            }
        }
    }
    
}
    
@media  screen and (max-width:376px) {
    
    body {
        .flex__header {
            nav {
                div {
                    .option {
                        li {
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main__index {
        .hero {
            h1 {
            letter-spacing: 10px;
            height: 8%;
            color: black;
            font-size: 16px;
            }
            p {
                font-size: 13px;
            }
            
        }
    }
    
    .hero__tratamientos {
        .flex__tratamientos {
            .container {
                div {
                    div {
                        h2 {
                            letter-spacing: 8px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    
    .hero__ubicacion {
        div {
            .section__ubicacion {
                iframe {
                    width: 250px;
                    height: 250px;  
                }
            }
        }
    }

}