/*----------- MEDIA QUERIES---------------*/

@media  screen and (max-width:930px) { 
    .placeholder {
    display: none;
    }
    
} 

@media screen and (max-width:895px) {

    .hero h1 {
        letter-spacing: 20px;
        height: 15%;
        color: black;
    }
    
    .hero__contacto {
        height: max-content;
    }
    
    
    .main__index section div {
        margin-left: 2%;
        margin-top: 2%;
    }
    
    .index__tipos__de__tratamientos{
        justify-content: center;
    }
    
    .flex__footer section ul div {
        display: none;
    } 
    
    .hero p {
        margin-top: 5%;
    }
    
    .section__ubicacion iframe {
        width: 500px;
        height: 350px;  
    } 
    
    .flex__footer section div {
        flex-direction: column;
        align-items: stretch;
    }
    
    .flex__footer section div a {
        margin-bottom: 5%;
    } 
    
    .rrss {
        width: 5rem;
        height: 5rem;
    }
    
    .flex__footer section {
        justify-content: space-around;
    }
    
    .placeholder {
      display: none;
    }
}
    
@media  screen and (max-width:540px) {
    
    .logo {
        width:  6rem; 
        height: 5rem;
    }
    
    .placeholder {
        display: none;
    }
    
    .option li a {
        font-size: 18px;
    }
    
    .hero p {
        margin-top: 10%;
        font-size: 25px;
    }
    
    .hero h1 {
        letter-spacing: 15px;
        height: 13%;
        color: black;
        margin-bottom: 10%;
        font-size: 35px;
    }
    
    .hero a{
        font-size: 20px;
    }
    
    .flex__tratamientos h2 {
        letter-spacing: 10px;
        font-size: 20px;
    }
    
    .section__ubicacion iframe {
      width: 350px;
      height: 250px;  
    } 
    
    .flex__footer section {
        display: flex;
        flex-direction: column;
    }
    
    .flex__footer section div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        align-items: center;
        margin-top: 5%;
    }
    
    .logo__footer {
      width:  18rem; 
      height: 14rem;
    }
    
    .flex__footer section ul div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
    
    .flex__footer section ul {
        margin-top: 5%;
    }
    
}
    
@media  screen and (max-width:376px) {
    
    .option li a {
        font-size: 13px;
    }
    
    .hero h1 {
        letter-spacing: 10px;
        height: 8%;
        color: black;
        font-size: 30px;
    }
    
    .hero p {
        font-size: 20px;
    }
    
    .flex__tratamientos h2 {
        letter-spacing: 8px;
        font-size: 18px;
    }
    
    .section__ubicacion iframe {
        width: 250px;
        height: 250px;
    }
    
    .datos {
        display: none;
    }
    
    .placeholder {
        display: flex;
    }
    
}